body {
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80');
  color: white;
}

button{
  color: black;
}

.selection{
  color: black;
}


.jumbotron{
  color: white;
  display: block;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80');
  text-align: center;
}

h1 {
  color: white;
}

.jumbotron a h1{
  font-family: 'Playfair Display';
    display: block;
    color: white;
    padding: 5px;
    font-size: 80px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none; 
  }

.sort{
    padding-top: 20px;
}
.by{
    padding: 15px 40px 15px 24px
}

.resultHeader{
  display: block;
  margin: 25px auto;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}


#bookBtns{
  text-align: center;
  margin: 20px auto;
}

#myQ, #myL {
  margin: 20px;
}

#searchResult,
#myQueueList,
#myLibraryList {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 200px;
    padding: 100px;
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 20px auto;
}
.submenu{
  position: absolute;
    left: 0;
    top: 10;
    top: 30%;
    width: 400px;
}
.member-name{
  color: white;
  font-size: 24px;
}
