form.signup,
form.login {
  margin-top: 50px;
}

.container-fluid{
  font-size: larger;
  margin-top: 10px;
  font-weight: bolder;  
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none; 
}

.btn{
  display: inline-block;
}

.navbar{
  justify-content: space-between;
}
.loginBtn,
.signupBtn {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
}

\\ css for homepage

.button-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.myHeader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

